pyyaml
gdown
numpy
six
requests
lmdb
opencv-python-headless
matplotlib
prefetch_generator
einops
unidecode
icecream
albumentations
crc32c


# Torch related
torch
torchvision 

git+https://gitlab.com/ndgnuh/dsrecords.git
tensorboardX
lightning
onnx
