# +----------+
# | Old deps |
# +----------+
pyyaml
gdown
requests
lmdb
matplotlib
prefetch_generator
einops
icecream
crc32c


# +------------------------+
# | Torch related packages |
# +------------------------+
torch
torchvision 
lightning
tensorboardX

# +-----------------+
# | Data processing |
# +-----------------+
numpy
dsrecords
opencv-python-headless
albumentations
unidecode
rapidfuzz

# +-----------------------+
# | Onnx related packages |
# +-----------------------+
onnxruntime
onnx
